body{
    background-color: #0F111A !important;
}

.head{
    background-color: #1E1E2F;
    padding: 15px;
    border-radius: 0px 0 25px 25px;
    margin-top: 0px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.header img{
    border-radius: 25px;
    width: 170px;
    transition: 1s;
}

.header img:hover{
    transform: scale(1.05);
}

.header-btn a{
    font-family: "Cairo", sans-serif;
    color: white;
    background-color: #3B82F6;
    border-radius: 15px;
    padding: 15px;
    text-decoration: none;
    transition: 1s;
}
.header-btn a:hover{
    background-color: #14B8A6;
    transform: scale(1.05);
    
}
.how-title{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.how-title h1{
    color: white;
    transition: 1s;
    background-color: #3b82f5;
    padding: 5px;
}
.how-title h1:hover{
    transform: scale(1.1);
}
.first{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #3b82f5;
}
.first img{
    width: 750px;
    border-radius: 25px;
    transition: 1s;
}
.first img:hover{
    transform: scale(1.1);
}
.first h1{
    margin-top: 25px;
    margin-bottom: 25px;
}
.first h3{
    margin-top: 25px;
    margin-bottom: 25px;
}
.sec{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #3b82f5;
}
.sec img{
    width: 750px;
    border-radius: 25px;
    transition: 1s;
}
.sec img:hover{
    transform: scale(1.1);
}
.sec h1{
    margin-top: 25px;
    margin-bottom: 25px;
}
.sec h3{
    margin-top: 25px;
    margin-bottom: 25px;
}
.thrte{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #3b82f5;
}
.thrte img{
    width: 750px;
    border-radius: 25px;
    transition: 1s;
}
.thrte img:hover{
    transform: scale(1.1);
}
.thrte h1{
    margin-top: 25px;
    margin-bottom: 25px;
}
.thrte h3{
    margin-top: 25px;
    margin-bottom: 25px;
}
.forte{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #3b82f5;
}
.forte img{
    width: 750px;
    border-radius: 25px;
    transition: 1s;
}
.forte img:hover{
    transform: scale(1.1);
}
.forte h1{
    margin-top: 25px;
    margin-bottom: 25px;
}
.forte h3{
    margin-top: 25px;
    margin-bottom: 25px;
}
.done{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.done h1{
    color: white;
    background-color: green;
    border-radius: 15px;
    padding: 15px;
}