body{
    background-color: #0F111A !important;
}

.head{
    background-color: #1E1E2F;
    padding: 15px;
    border-radius: 0px 0 25px 25px;
    margin-top: 0px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.header img{
    border-radius: 25px;
    width: 170px;
    transition: 1s;
}

.header img:hover{
    transform: scale(1.05);
}

.header-btn a{
    font-family: "Cairo", sans-serif;
    margin-left: 5px;
    font-size: 18px;
    color: white;
    background-color: #3B82F6;
    border-radius: 15px;
    padding: 20px;
    text-decoration: none;
    transition: 1s;
}

.header-btn a:hover{
    background-color: #14B8A6;
    transform: scale(1.05);
    
}

.counter {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.counter h1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    background-color: #EF4444;
    color: white;
    border-radius: 15px;
    padding: 15px;
    transition: 1s;
}

.counter h2{
    margin-top: 50px;
    color: white;
    border-radius: 15px;
    padding: 15px;
    background-color: #0a182e;
    transition: 1s;
}

.counter h1:hover{
    transform: scale(1.05);
}

.counter h2:hover{
    transform: scale(1.05);
}
.counter p{
    margin-top: 25px;
    color: white;
    transition: 1s;
}
.counter p:hover{
    transform: scale(1.1);
}


.forget {
    margin-top: 50px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.forget p{
    background-color: #282a31;
    padding: 5px;
    border-radius: 15px;
    color: white;
    font-size: 35px;
    text-align: center;
    margin: 0;
    transition: 1s;
}
.forget p:hover{
    transform: scale(1.1);
}


.forget-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.forget-link a {
    font-family: "Cairo", sans-serif;
    font-size: 20px;
    background-color: #3B82F6;
    border-radius: 15px;
    padding: 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.forget-link a:hover {
    transform: scale(1.1);
}
.home-end{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.home-end p{
    color: white;
    font-size: 20px;
}
