body{
    background-color: #0F111A !important;
}

.head{
    background-color: #1E1E2F;
    padding: 15px;
    border-radius: 0px 0 25px 25px;
    margin-top: 0px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.header img{
    border-radius: 25px;
    width: 170px;
    transition: 1s;
}

.header img:hover{
    transform: scale(1.05);
}

.header-btn a{
    font-family: "Cairo", sans-serif;
    color: white;
    background-color: #3B82F6;
    border-radius: 15px;
    padding: 15px;
    text-decoration: none;
    transition: 1s;
}
.header-btn a:hover{
    background-color: #14B8A6;
    transform: scale(1.05);
    
}
.mc-logo{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mc-logo img{
    border-radius: 25px;
    transition: 1s;
}
.mc-logo img:hover{
    transform: scale(1.1);
}
.status{
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.status h1{
    color: white;
    background-color: green;
    border-radius: 15px;
    padding: 15px;
    transition: 1s;
}
.status h1:hover{
    transform: scale(1.1);

}
.ip{
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ip h1{
    color: white;
    background-color: #303340;
    padding: 15px;
    border-radius: 8px ;
    transition: 1s;
}
.ip h1:hover{
    transform: scale(1.1);
}
.ver{
    display: flex;
    justify-content: center;
}
.ver h1{
    color: white;
    background-color: #303340;
    padding: 14px;
    border-radius:8px;
    margin-top: 0px;
    transition: 1s;
}
.ver h1:hover{
    transform: scale(1.1);
}
.java{
    display: flex;
    justify-content: center;
}
.java h1{
    color: white;
    background-color: #303340;
    padding: 14px;
    border-radius: 8px;
    transition: 1s;
}
.java h1:hover{
    transform: scale(1.1);
}
.crack{
    display: flex;
    justify-content: center;
}
.crack h1{
    color: white;
    background-color: #303340;
    padding: 14px;
    border-radius: 8px;
    transition: 1s;
}
.crack h1:hover{
    transform: scale(1.1);
}
.dis{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 25px;
}
.dis a{
    color: white;
    background-color: #565fdd;
    border-radius: 15px;
    padding: 15px;
    font-size: 25px;
    text-decoration: none;
    font-family: "Cairo", sans-serif;
    transition: 0.5s;
}
.dis a:hover{
    transform: scale(1.1);
}