body{
    background-color: #0F111A !important;
}

.head{
    background-color: #1E1E2F;
    padding: 15px;
    border-radius: 0px 0 25px 25px;
    margin-top: 0px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.header img{
    border-radius: 25px;
    width: 170px;
    transition: 1s;
}

.header img:hover{
    transform: scale(1.05);
}

.header-btn a{
    font-family: "Cairo", sans-serif;
    margin-left: 5px;
    font-size: 18px;
    color: white;
    background-color: #3B82F6;
    border-radius: 15px;
    padding: 20px;
    text-decoration: none;
    transition: 1s;
}
.header-btn a:hover{
    background-color: #14B8A6;
    transform: scale(1.05);
    
}
.mores{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    gap: 25px;
     flex-wrap: wrap;
    
}
.mores a{
    display: flex;
    color: white !important;
    justify-content: space-between 15px;
    align-items: center;
    background-color: #3B82F6;
    padding: 15px;
    border-radius: 15px;
    font-family: "Cairo", sans-serif;
    font-size: 50px;
    transition: 1s;
    text-decoration: none;

}
.mores a:hover{
    transform: scale(1.1);
}