body{
    background-color: #0F111A !important;
}

.head{
    background-color: #1E1E2F;
    padding: 15px;
    border-radius: 0px 0 25px 25px;
    margin-top: 0px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.header img{
    border-radius: 25px;
    width: 170px;
    transition: 1s;
}

.header img:hover{
    transform: scale(1.05);
}

.header-btn a{
    font-family: "Cairo", sans-serif;
    color: white;
    background-color: #3B82F6;
    border-radius: 15px;
    padding: 15px;
    text-decoration: none;
    transition: 1s;
}
.header-btn a:hover{
    background-color: #14B8A6;
    transform: scale(1.05);
    
}
.rates-title{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rates-title h1{
    color: white;
    background-color: #1e1e2f;
    padding: 15px;
}
.rates{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.rates h1{
    color: white;
    background-color: red;
    padding: 15px;
    transition: 1s;
}
.rates h1:hover{
    transform: scale(1.1);
}
.rates-note{
    margin-top: 150px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    
}
.rates-note p{
    color: white;
    transition: 1s;
    

}
.rates-note p:hover{
    transform: scale(1.1);
}
.rates-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 25px;
}
.rates-btn a{
    text-decoration: none;
    color: white;
    background-color: #1e1e2f;
    font-family: "Cairo", sans-serif;
    padding: 15px;
    border-radius: 15px;
    transition: 1s;
}
.rates-btn a:hover{
    transform: scale(1.1);
}
.rate-dis{
    display: flex;
    flex-direction: column;
}
.rate-dis img{
    border-radius: 15px;
    width: 750px;
    margin-top: 50px;
    transition: 1s;
}
.rate-dis img:hover{
    transform: scale(1.1);
}